<settings>

    <setting propertyKey="@Properties.units" title="@Strings.unitss">
        <settingConfig type="list">
            <listEntry value="0">@Strings.mgdl</listEntry>
            <listEntry value="1">@Strings.mmoll</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.is12HourFormat" title="@Strings.is12HourFormatS" prompt="@Strings.is12HourFormatHelp">
        <settingConfig type="boolean"/>
    </setting>
    <setting propertyKey="@Properties.maxGoodSgvSetting" title="@Strings.maxGoodSgvS" prompt="@Strings.maxGoodSgvHelp">
        <settingConfig type="numeric" min="5" max ="200" errorMessage="@Strings.maxGoodSgvError"/>
	</setting>
    <setting propertyKey="@Properties.minGoodSgvSetting" title="@Strings.minGoodSgvS" prompt="@Strings.minGoodSgvHelp">
        <settingConfig type="numeric" min="1" max ="140" errorMessage="@Strings.minGoodSgvError"/>
	</setting>
    <setting propertyKey="@Properties.valuesInScreen" title="@Strings.valuesInScreenS" prompt="@Strings.valuesInScreenHelp">
        <settingConfig type="numeric" min="2" max ="64" errorMessage="@Strings.valuesInScreenError"/>
	</setting>
    <setting propertyKey="@Properties.valuesGap" title="@Strings.valuesGapS" prompt="@Strings.valuesGapHelp">
        <settingConfig type="numeric" min="1" max ="60" errorMessage="@Strings.valuesGapError"/>
	</setting>
    <setting propertyKey="@Properties.strColorBad" title="@Strings.colorBadS" prompt="@Strings.colorBadHelp">
        <settingConfig type="alphaNumeric" maxLength="8" errorMessage="@Strings.colorBadError"/>
	</setting>
    <setting propertyKey="@Properties.strColorGood" title="@Strings.colorGoodS" prompt="@Strings.colorGoodHelp">
        <settingConfig type="alphaNumeric" maxLength="8" errorMessage="@Strings.colorGoodError"/>
	</setting>


</settings>
